In [ ]:
#Imports

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sqlite3
import matplotlib.pyplot as plt

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

path = "/content/sample_data/database.sqlite"  #Insert path here
database = path + 'database.sqlite'

In [ ]:
import csv
import sqlite3

conn = sqlite3.connect(database)
cursor = conn.cursor()
cursor.execute("select * from sqlite_master;")
with open("data.csv", 'w',newline='') as csv_file:
    csv_writer = csv.writer(csv_file)
    csv_writer.writerow([i[0] for i in cursor.description])
    csv_writer.writerows(cursor)
conn.close()

In [ ]:
conn = sqlite3.connect(database)

tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

In [ ]:
countries = pd.read_sql("""SELECT *
                        FROM Country;""", conn)
countries

DatabaseError: ignored

In [ ]:
leagues = pd.read_sql("""SELECT *
                        FROM League
                        JOIN Country ON Country.id = League.country_id;""", conn)
leagues

DatabaseError: ignored